/* testing css code*/
/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /*display: grid;*/
  height: 100vh;
  /*grid-template: auto 1fr auto / 300px 1fr auto;*/
}

/* Header styles */
header {
  background-color: darkcyan;
  color: white;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

nav ul {
  background-color: black;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

nav ul li {
  flex: 1 1 auto;
  display: inline;
  margin-right: 20px;
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration:none;
  padding: 0.75rem;
  text-align: center;
}
nav ul li a:hover{
  font-weight: 700;
  text-decoration-color: aquamarine;
}

/* Main styles */
.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  width: 60%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card-2 {
  width: 30%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card h2 {
  background-color: darkcyan;
  color: white;
  padding: 10px;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.card-2 h2 {
  background-color: darkcyan;
  color: white;
  padding: 10px;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.card-2 .resources ul {
  margin-top: 200px;
  margin-left: 10%;
}
.card-2 .resources ul li {
  margin: 10px;

}
.card h3{
  color: black;
  margin: 0;
  text-align: center;
}

.card .first,
.card .second {
  padding: 20px;
}
.card .first {
  display: flex;
  align-items: center; /*center vertically*/
}
.card .first p {
  flex: 1; /*take remainig=ng space*/
  margin-right: 5%;
  text-indent: 0%;
  
}
.card .first img {
  display: block;
  margin: 0 auto 20px;
  margin-left: auto;
  max-width: 50%;
  border-radius: 10px;
  
}

.card .second .divider {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
.card .second .country .flag img {
  display: block;/*push the image to the right in block display*/
  margin-right: auto; /*margin moves item away from right*/
  max-width: 90%;
  border-radius: 10px;
}
.card .second .country .flag p {
  margin-left: auto;
  text-indent: 0%;
}
.country {
  display: flex;
}

.flag p {
  text-align: center;
}

/* Footer styles */
footer {
  background-color: darkcyan;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
  font-size: smaller;
}
