
@media only screen and (min-width: 32.5rem) {
    h1 {
        flex-direction: row;
        max-width: fit-content;
    }
}

.banner {
    display: flex;
    background-color: rgb(232, 191, 11);
    border: 10px solid #a52005;
    border-radius: 20px;
    margin: 1rem;
    position: relative;/*added just*/
}
.banner h1 {
    text-align: center;
    margin-left: 40%;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 100;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Adjust height as needed */
    position: relative; /* Required for positioning the overlay */
}
.hero img {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay-data {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2%;
    height: 30%;
    width: 30%;
    border-radius: 10px;
    border: 5px solid #a52005;
    padding: 10px; /* Adjust padding as needed */
    background-color: rgba(225, 145, 6, 0.829); /* Adjust the opacity as needed */
    color: black; /* Add text color for better visibility */
}

.overlay-data h3 {
    text-align: left;
    margin-left: 2px;
    color: black;
}

/* Optionally, you can style the colon */
.label::after {
    content: ":";
    margin-right: 4px; /* Adjust as needed */
}

.overlay-weather {
    display: flex;
    flex-direction: column; /* Display items in a column */
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    width: 30%;
    height: auto;
    margin-top: 10%;
    border: 5px solid #a52005;
    border-radius: 10px;
    background-color: rgba(225, 145, 6, 0.829);
    
}
.weather-header {
    display: flex;
    align-items: center; /* Center items vertically */
}

.weather-header h3 {
    margin-left: 40px; /* Add some space between the h3 and img */
}

.overlay-weather img {
    display: block;
    
    width: 10%;
    margin-left: 10px;
    margin-right: auto;
    max-width: 20%;
    
}

label-value-pair1.label1 img {
    display: flex;
    flex-direction: column;
}

footer{
    background-color: rgb(160, 50, 50);
    color: black;
    position: relative;
    padding: 4px;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 1rem;
    border: 10px solid #a52005;
    border-radius: 20px;
    
    
    
}
